/* Write your CSS here */
.teamLogo {
  height: 150px;
  width: 130px;
}
.list_item {
  display: flex;
  background-color: lightslategray;
  border-radius: 10px;
  margin: 10px;
  width: 45%;
  justify-content: space-around;
  align-items: center;
  border-style: solid;
  border-color: skyblue;
}
.team_card_heading {
  color: white;
  font-size: 28px;
  text-decoration: none;
  color: white;
  width: 30%;
}
.link {
  display: flex;
  align-items: center;
  height: 85%;
  width: 100%;
  justify-content: space-around;
  text-decoration: none;
}
